<div class="employee-list">
  <button class="add-employee" routerLink="/employees/new">Add Employee</button>
  
  <div *ngFor="let emp of employees" class="employee-item">
    <img [src]="emp.avatar" alt="Avatar">
    <div>
      <h3>{{ emp.name }}</h3>
      <p>{{ emp.designation }} - {{ emp.companyName }}</p>
    </div>
    <div class="button-group">
      <button class="routerLink" [routerLink]="['/employees', emp.id]">View</button>
      <button class="edit" (click)="edit(emp)">Edit</button>
      <button class="delete" (click)="confirmDelete(emp.id)">Delete</button>
    </div>
  </div>
</div>
